@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Monserrat', sans-serif;
}

header {
  width: 100%;
  height: 100px;
  border-top: 5px solid #572EE5;
}

header #logo {
  float: left;
  margin-top: 23px;
  margin-left: 22px;
}

header #logo img {
  size: 48.8px;
}

header .menu {
  float: right;
  margin-right: 26px;
  margin-top: 23px;
}

header #desplegable ul {
  list-style-type: none;
}

header #desplegable ul a {
  text-decoration: none;
}

/*header{
    nav{
        width: 100%;
        height: 100px;
        border-top: 5px solid #572EE5;
        
        #logo{
        float: left;
        margin: 22px 34px 0 24px;
        font-style: "Montserrat";
        }
        .menu{
            float: right;
            margin: 52px 26px 34px 0;
            input{
                display: none;
            }
            input:checked {
                display: block;
                
            }
            
            label{
                color: #572EE5;
            }
            ul{
                text-align: center;
                list-style-type:none;
                background-color: #572EE5;
                width: 100vh;
                margin: 0px;
                li{
                    margin: 10px;
                    display: block;
                    a{
                        text-decoration: none;
                        color: white;
                    button{
                        display: none;
                    }
                }  
                }
                
            }
            
        }  
    }   
}
*/
#contenedor #titulo h1 {
  color: #572EE5;
  height: 25px;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  margin: 76px auto 24px auto;
}

#contenedor #titulo h1 span {
  color: #50E3C2;
}

#contenedor #titulo img {
  display: block;
  margin: 0px auto;
  width: 273px;
  height: 130px;
}

#contenedor #titulo input {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  border-radius: 27px;
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 353px;
  height: 50px;
}

#contenedor #trending h3 {
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}

#contenedor #trending p {
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

#contenedor #trendingGifos {
  background: #F3F5F8;
  width: 100%;
}

#contenedor #trendingGifos h2 {
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}

#contenedor #trendingGifos p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
}

footer {
  margin-top: 47px;
  text-align: center;
  border-bottom: 5px solid #572EE5;
}

footer p {
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
}

footer ul li {
  display: inline-block;
  margin-right: 19px;
  margin-bottom: 48px;
}

footer ul li a {
  color: #CDD6E0;
}

footer ul li a:hover {
  color: #572EE5;
}

/*css para desktop*/
/*
@media (min-width:768px){
    header{
        .menu {
            
            input{
                display: none;
            }
            label{
                display: none;
            }
            #desplegable{
                display: inline;
                position: absolute;
                background-color: unset;
                float: left;
                li{
                    display: inline;
                    a{
                        color: #572EE5 ;  
                        display: block;
                    }
                    button{
                        border: 1px solid #572EE5;
                        border-radius: 50%;
                    }    
                }
              
            }
              
               
            
            
        }
    }
}
*/
/*# sourceMappingURL=main.css.map */